:host {
  display: block;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mt-4 {
  margin-top: 1rem;
}

.rr-content-section__head .p-tag {
  margin-bottom: 0.5rem;
}

.m-0 {
  margin: 0;
}
